html, body {
	margin-top: 0;
	padding: 0;
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

.body {
	max-width: 500px;
	margin: 0;
	padding: 40px;
}
.body-s {
	max-width: 400px;
	max-height:200px;
}
@media screen and (max-width: 600px) {
	.body {
		padding: 30px;
	}
}